.hero-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Hero section parallax */
.hero-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* THIS CREATES THE PARALLAX */
  will-change: transform; /* smooth GPU performance */
  z-index: -1;
}


.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 15, 28, 0.8), transparent);
}

.hero-content {
  position: relative;
  z-index: 10;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.hero-subtitle {
  color: #e5e7eb; /* gray-200 */
  font-size: 1.125rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.hero-description {
  color: #d1d5db; /* gray-300 */
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 2.5rem;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-primary {
  background-color: #facc15; /* yellow-500 */
  color: #111827; /* gray-900 */
  font-weight: 600;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #fbbe2400;
  transform: scale(1.05);
  color: white;
  border:  2px solid #facc15;
}

.btn-secondary {
  background: transparent;
  color: white;
  font-weight: 600;
  padding: 0.75rem 2rem;
  border: 2px solid #facc15;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.btn-secondary:hover {
  background-color: #facc15;
  color: #111827;
}

.scroll-down {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.scroll-icon {
  width: 2rem;
  height: 2rem;
  color: #facc15;
}

@media (min-width: 768px) {
  .hero-buttons {
    flex-direction: row;
    gap: 1.5rem;
  }
}


/* MOBILE FIRST */
.hero-description {
  font-size: 0.95rem;
  padding: 0 0.5rem;
}

.hero-buttons button {
  width: 100%;
  max-width: 260px;
}

/* TABLET */
@media (min-width: 600px) {
  .hero-description {
    font-size: 1.05rem;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .hero-subtitle {
    font-size: 1.5rem;
  }

  .hero-description {
    font-size: 1.2rem;
    max-width: 700px;
  }

  .hero-buttons {
    flex-direction: row;
    gap: 2rem;
  }
}
